<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
	body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
	</style>
    <script src="/web/static/lib/jquery/jquery.js" type="text/javascript"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=o4BGnIfvUfh0qBeS419hTfGXVnaLomK7"></script>
	<title>地图展示</title>
</head>
<body>
    <span>X:</span><input type="text" name="pointx" id="pointx" value="116.404"/>
    <span>Y:</span><input type="text" name="pointy"  id="pointy" value="39.915"/>
    <button type="button" id="btn" onclick="click_btm()">Click Me!</button>
	<div id="allmap"></div>

</body>
</html>
<script type="text/javascript">
	// 百度地图API功能
    var point = {{ point }};
    console.info(point);
	var map = new BMap.Map("allmap");    // 创建Map实例
	map.centerAndZoom(new BMap.Point($('#pointx').val(), $('#pointy').val()), 11);  // 初始化地图,设置中心点坐标和地图级别
	map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
	map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
	map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放

    function click_btm(){
        var emx = $('#pointx');
        var emy = $('#pointy');
        var step = 0.01;
        x = parseFloat(emx.val() || 0.0) + step;
        y = parseFloat(emy.val() || 0.0) + step;
        map.centerAndZoom(new BMap.Point(x, y), 11);
        map.setCurrentCity("新坐标");
        emx.val(x);
        emy.val(y);
    };

</script>